@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

/* body{
color: rgb(56, 54, 54);
background-color: rgba(255, 166, 0, 0.747);
} */

#campo {
    display: flex;
}

#calendario {
    display: flex;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background: linear-gradient(rgb(0, 0, 0),
            rgb(0, 0, 0));
    background-size: cover;
    min-height: 13vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #FFFDFC;
    font-size: 25px;
    font-weight: 800;

}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #ce9678;
}

#menu {
    display: none
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;

}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 35px;

}

.header-content p {
    font-size: 16px;
    color: #C5C5C5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #CE9678;
    color: #F9FAFC;
    text-transform: uppercase;

}

.btn-1:hover {
    background-color: #ebad8d;
}

.coffee {
    padding: 100px 0;
    background-color: #E1E2E6;
    position: relative;
}

.coffee-content {
    text-align: center;
}

.coffee-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.coffee-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.coffee-1 {
    padding: 0 25px;
}

.coffee-1 img {
    width: 200px;
}

.coffee-img {
    position: absolute;
    top: 0;
    right: 0;

}

.coffee-1 h3 {
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.services-content {
    text-align: center;

}

.services-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 50px;

}

.services-content p {
    font-size: 16px;
    color: #C5C5C5;
    margin-bottom: 50px;
    padding: 0 100px;

}

.services-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.services-1 {
    padding: 0 100px;

}

.services-1 img {
    width: 25px;
    margin-bottom: 15px;

}

.services-1 h3 {
    color: #EACCB3;
    font-size: 18px;
}

.general {
    display: flex;

}

.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #E1E2E6;
}

.general-2 {
    background-image: url(images/coffe-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-3 {
    background-image: url(images/coffee-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;

}

p {
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;

}

.blog {
    padding: 100px 0;
    text-align: center;

}

.blog-content {
    display: flex;
    justify-content: space-between;

}

.blog-1 {
    padding: 15px 55px;

}

.blog-1 img {
    width: 250px;
    border-radius: 15px;
    border-bottom: 15px;

}

.blog-1 h3 {
    font-size: 25px;
    color: #323337;

}

.footer {
    padding: 25px 0;
    background-color: #000000;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 18px;
    color: #F9FAFC;
    margin-bottom: 15px;

}

.link a {
    font-size: 16px;
    color: #C5C5C5;
    display: block;
    margin-bottom: 15px;


}

.redsocial {
    width: 30px;
    height: 30px;
}

.logos ul {
    display: flex;
    padding: 0%;
    justify-content: space-between;
}