{% extends "base.html" %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cabañas</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style-cabanas.css')}}">
{%endblock%}

{% block body %}
<section class="general">

    <div class="general-1">
        <h2>Cabaña Superior Marrón</h2>
        <p>
            Morro es la cabaña más amplia. Tiene una amplio dormitorio secundario y un living comedor muy confortable y luminoso. Es de material y está revestida en madera y roca. Todos los ventanales y aberturas son con termopanel; la calefacción es central, de regulación individual, con radiadores.
            La decoración es tipo campestre patagónica y está ubicada en la parte más alta de nuestro predio. <br>
            •Dos dormitorios: uno matrimonial y otro con cuatro camas. <br>
            •Living. <br>
            •Baño completo con ante-baño. <br>
            •Deck con asador individual y mesa de asado.
        </p>
        <a href="#" class="btn-1">Informacion</a>
    </div>
    <div class="general-2"></div>

</section>

<section class="general">

    <div class="general-3"></div>

    <div class="general-1">
        <h2>Cabaña Laguna</h2>
        <p>
            Bella Vista es la cabaña más luminosa. Está en la planta alta de las Cabañas del Parque disfrutando de mucha luz y lindas vistas al Cerro Goye.
            Es de material y está revestida en madera y roca. Todos los ventanales y aberturas son con termopanel; la calefacción es central, de regulación individual, con radiadores. <br>
            •Un dormitorio matrimonial y dos plazas en el living. <br>
            •Cocina comedor. <br>
            •Baño completo. <br>
            •Balcón con asador y mesita de asado.
        </p>
        <a href="#" class="btn-1">Informacion</a>
    </div>
    
</section>

<section class="general">

    <div class="general-1">
        <h2>Cabaña Laguna</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus beatae quod odio labore,
             iusto, illo qui non facilis pariatur officiis saepe. Ipsum quae dolores harum dolorum officia 
             cumque asperiores recusandae.
        </p>
        <a href="#" class="btn-1">Informacion</a>
    </div>
    <div class="general-2"></div>

</section>


{%endblock%}
