{% extends "base.html" %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cabañas</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style-cabanas.css')}}">
{%endblock%}

{% block body %}
    {% for cabin in cabins %}
        <section class="cabaña my-5">
            <h2 class="text-center"> {{ cabin.nombre }} </h2>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <p>{{ cabin.descripcion }}</p>
                    </div>
                    <div class="col-6">
                        <img class="img-fluid" src="{{ cabin.imagen }}">
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <a class="btn btn-outline-secondary" href="{{url_for('reservar')}}" role="button" >Reservar</a>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{%endblock%}
