{% extends "base.html" %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cabañas</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style-cabanas.css')}}">
{%endblock%}

{% block body %}
    {% for cabin in cabins %}
            <section class="general">

                <div class="general-1">
                    <h2>{{ cabin.nombre }}</h2>
                    <p>
                        {{ cabin.descripcion }}<br>
                    </p>
<!--                    <a href="{{ url_for('cabin', id=cabin.id ) }}" class="btn-1">Informacion</a> -->
                    <img src="{{ cabin.imagen }}" class="btn-1">
		    <a>Informacion</a>
                </div>
                <div class="general-2"></div>

            </section>
    {% endfor %}

{%endblock%}
